.App {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #3046c5;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  padding: 20px 0;
}

.jumbotron {
  padding: 30px;
  background-image: radial-gradient(at bottom, #d30cb8, #55054a 35%, #000);
  margin: 0;
  padding: 20px 0;
}

.navbar-dark {
  background-color: #000a3d;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.food-pic {
  width: 475px;
  object-fit: cover;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 2%;
  border-top-right-radius: 2%;
  padding-top: 20px;
}
